# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
# Template config files
/cluster.yaml
/nodes.yaml
# Kubernetes
kubeconfig
talosconfig
# Misc.
.private/
.task/
.venv/
.DS_Store
Thumbs.db
1password-credentials.json
onepassword-secret.yaml
onepassword-connect.secret.yaml.sc
tslamars-com-production-tls-backup.yaml
tslamars-com-production-tls.crt